* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style: none;
}

hgroup {
  padding: 20px 10px;
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 10;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 60%;
  margin: auto;
}

p,
mark {
  font-weight: 300;
  margin: 0;
}

article>header p,
article>header time {
  font-weight: 100;
  font-size: 16px;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 38px;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

section p,
section mark {
  font-size: 18px;
  margin: 10px 0;
}

mark {
  background-color: #face00;
}