* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
}


hgroup,
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hgroup {
  padding: 1.5em 1em;
  width: 100vw;
  height: 200px;
  background-color: black;
  color: white;
}

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 10;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

a {
  text-decoration: none;
  color: #0095fd;
}

nav ul a {
  color: black;
}

main {
  width: 60%;
  margin: 20px auto;
  padding: 1em 0;
  border-bottom: 5px solid #ccc;
}

p,
mark {
  font-weight: 300;
}

article>header p,
article>header time {
  font-size: 16px;
  color: #555;
}

article>header {
  margin-bottom: 30px;
}

h1 {
  font-size: 46px;
  margin: 15px 0;
}

h2 {
  font-size: 38px;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

section p,
section mark {
  font-size: 18px;
  margin: 10px 0;
}

mark {
  background-color: #8adb1a7e;
}

section p>data {
  font-weight: 500;
}

article section {
  border-bottom: 1px solid #ccc;
  position: relative;
  margin: 10px 0;
}

aside {
  position: absolute;
  right: 0px;
  top: 35px;
  border-left: 2px solid #ccc;
  height: max-content;
  padding: 1em 1em 0 1em;
}

aside h4 {
  margin: 0 0px 10px;
}


details {
  border-radius: 5px;
  margin: 10px 0;
  min-width: 300px;
  max-width: fit-content;
  padding-bottom: 1em;
}

summary {
  margin: 10px 0;
  background-color: #000;
  color: #fff;
  padding: 1.1em 1em;
  border-radius: 5px;
}

body>footer {
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 1em 0;
}

dialog {
  position: fixed;
  bottom: 0px;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  width: 140px;
}