li {
  list-style: none;
}

nav {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  position: fixed;
  top: 0px;
  left: 0;
  display: flex;
  align-items: center;
}

nav ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}